@use "../../../style/abstracts" as *;

header {
  // background: url("../../../Assets/img/bg-nft-234s.png");
  height: 100vh;
  background: linear-gradient( #F7EDF7,#ebf9ef);

  .container {
    width: $container;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    nav {
      align-self: center;
      width: 65%;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
      align-items: center;
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: saturate(180%) blur(20px);
      border-radius: 2rem;
      padding: 1.8rem 0;
      position: fixed;
      z-index: 3;
      top: 0;
      .brand{
        flex-basis: 10%;
        img{
          width: 55%;
        }
      }
      .bars{
        display: none;
      }
      .navList {
        flex-basis: 60%;

        ul {
          li {
            display: inline-block;
            margin: 0 1rem;
            a {
              color: $pGray;
              padding: 1.2rem;
              cursor: pointer;
              transition: $transition;
              font-size: $btnSize;
              &:hover {
                border-radius: 1.3rem;
                background: rgb(244, 244, 244);
                color: $dark;
                transition: $transition;
              }
            }
            .active {
              border-radius: 1.3rem;
              background: rgb(244, 244, 244);
              color: $dark;
            }
          }
        }
      }
      .wallet {
        flex-basis: 20%;

        button {
          border: 1px solid $pGray;
          padding: 1.2rem;
          background: $white;
          color: $dark;
          border-radius: 2rem;
          cursor: pointer;
          transition: $transition;
          font-size: $btnSize;
          &:hover {
            border: 1px solid $white;

            background: $btn;
            color: $white;
            transition: $transition;
          }
        }
      }
    }
    .header {
      // flex-grow: 4;
      margin-top: 7rem;
      display: flex;
      justify-content:center;
      align-items: center;
      .headerContent {
        h1 {
          color: $dark;
          font-size: $h1;
        }
        p {
          padding: 1.8rem 0;
          color: $pGray;
          font-size: $pSize;
          line-height: $pHeight;
        }
        button {
          border: none;
          background: $btn;
          color: $white;
          padding: 1.2rem 1.5rem;
          border-radius: 2rem;
          cursor: pointer;
          font-size: $btnSize;
        }
      }
      .headerImage {
        position: relative;
        text-align: right;
        .laptop{
            width: 90%;
        }
        .btc1 {
          position: absolute;
          top: 8rem;
          left: 2rem;
          animation: crypto infinite ease-in-out 1.9s alternate-reverse;
        }
        .ltm {
          position: absolute;
          left: 12rem;
          top: -1rem;
          animation: crypto infinite ease-in-out 2.3s alternate-reverse;
        }
        .eth {
          position: absolute;
          right: 15rem;
          top: 1rem;
          animation: crypto infinite ease-in-out 2.5s alternate-reverse;
        }
        .btc2 {
          position: absolute;
          right: 5rem;
          // top:
          animation: crypto infinite ease-in-out 2s alternate-reverse;
        }
      }
    }
  }
}



@keyframes crypto {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-50px);
  }
}


@media only screen and(max-width:600px){
  header{
    .container{
      nav{
        width: 95%;
        background-color: transparent;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1.8rem 2rem;
        .brand{
          text-align: center;
          order: 2;
          img{
            width: 15%;
          }

        }
        .navList{
          display: none;
        }
        .bars{
          order: 3;
          display: inline-block;

          text-align: right;
          button{
            outline: 2px solid $btn;
            background-color: transparent;
            outline-offset: 2px;
            padding: 1.3rem;
            border-radius: 50%;
            border: 1.1px solid #333;
          }
        }
        .wallet{
          display: none;
        }       
      }
      .header{
        margin-top: 1rem;
        flex-wrap: wrap-reverse;
        .headerContent{
          flex-basis: 100%;
          h1{
            font-size: 5rem;
          }
        }
      }
    }
  }
}