@use "./style/abstracts" as *;

html,
body,
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  animation: startUp 1s ease-in-out;
  scroll-behavior: smooth;
  font-size: 62.5%;
&::selection{
  background: #555555;
  color: $white;
}

  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: #ebf9ef;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffadff;
  }
}

a {
  text-decoration: none;
  color: inherit;
  
}

ul {
  list-style: none;
  li{

    &::selection{
      color: rgb(100, 100, 100);
      background: #ffd3ff;
    }
  }
}
img {
  pointer-events: none;
}

h2 {
  font-size: $headingSize;
  font-weight: $headingWeight;
  color: $heading;
  font-family: $InterFont;
  
}
h3 {
  color: $dark;
  font-size: $titleSize;
  padding: 2rem 0;
  font-weight: $titleWeight;
  font-family: $RalFont;
  
}

@keyframes startUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@media only screen and (max-width: 600px) {
  
html,
body,
*{
    font-size: 40%;
  }
}